@use "utilities/variables";
@use "utilities/mixins";

@use "base/reset";
@use "base/typography";

@use "layout/header";
@use "layout/footer";

@use "pages/index";
@use "pages/blog";
@use "pages/contacto";
@use "pages/estilos";
@use "pages/conocenos";
