@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

/* PÁGINA DE CONTACTO */
.contacto-titulo {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  color: v.$color-negro;
}

.contacto-borde {
  width: 100px;
  height: 4px;
  background: v.$color-negro;
  margin: 0 auto;
  border-radius: 2px;
}

/* Formulario */
.contacto-form {
  display: flex;
  flex-direction: column;
  /* Inputs uno debajo del otro */
  gap: 15px;
  margin: 30px 100px;
}

/* Campos de texto y área de mensaje */
.contacto-input,
.contacto-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;

  /* Cuando haces clic en el campo */
  &:focus {
    outline: none;
    border-color: v.$color-negro;
    /* Cambia color del borde */
  }
}

/* Botón de enviar */
.contacto-button {
  background: v.$color-negro;
  color: v.$color-amarillo-claro;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: v.$color-amarillo-oscuro;
    color: v.$color-negro;
  }
}

/* Ajuste para pantallas muy pequeñas */
@include m.small {
  .contacto-form {
    margin: 15px;
  }
}