@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

/* PÁGINA DE ESTILOS */
.estilos {
  padding: 20px;
  max-width: 1100px;
  margin: auto;

  h1 {
    margin-bottom: 40px;
    text-align: center;
  }
}

/* Tarjeta individual de cada estilo de cerveza */
.estilo-card {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: v.$color-amarillo-oscuro;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;

  img {
    width: 22%;
    min-width: 150px;
    border-radius: 10px;
  }

  /* Diseño Responsivo (Móvil) */
  @include m.mobile {
    flex-direction: column;
    /* Pone la imagen arriba y texto abajo */
    text-align: center;

    img {
      width: 55%;
    }
  }
}