/* MIXINS PARA RESPONSIVE */
/* Estos bloques nos ayudan a escribir c칩digo para celulares m치s f치cil */

/* Para pantallas medianas (Tablets y celulares grandes) */
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

/* Para pantallas muy peque침as (Celulares chicos) */
@mixin small {
  @media (max-width: 480px) {
    @content;
  }
}