$color-negro: #1b1b1b;
$color-amarillo: #ffca15;
$color-amarillo-claro: #ffe793;
$color-amarillo-oscuro: #b88b12;
$color-blanco: #f8f8f8;

$font-sansita: "Sansita", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto Slab", serif;

$mobile: 768px;
$small: 480px;
